<h1>welcome to <%= @cocktail.name %></h1>

<ul>
<% @doses.each do |dose| %>
  <p>Dose: <%= dose.description %></p>
  <p>Ingredient: <%= dose.ingredient.name %></p>
<% end %>
</ul>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

